.nav-footer-color {
    background-color: #023E8A;
}

h1{
    color: #023E8A;
    font-size: 50px;
}

.cartas{
    width: 600px;
    height: 500px;
    overflow: scroll;
}
.fecha{
    float: right;
}


h2{
    color:#023E8A;
    font-size: 36px;
}

p{
    font-size: 18px;
}

.inputRegistro{
    border: none;
    background-color: #E6E6E6;
}

label{
    color: #006CAE;
    font-size: 20px;
    font-weight: bold;
}

.boton{
    background-color: #4D0095;
    border-color: #4D0095;
    color: white;
}

.boton:hover{
    background-color: #3c0074;
    color: white;
}

.botonCrearCuenta{
    background-color: #023E8A;
    border-color: #023E8A;
    color: white;
}

.botonCrearCuenta:hover{
    background-color: #03045E;
    color: white;
}

.div-derecha{
  border-left: none;
}

@media screen and (min-width: 768px) {
  .div-derecha {
    border-left: 2px solid gray;
  }
}

.perfilProfesionalFondo{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.FotoPerfilProfesional{
    position: relative;
    bottom: 50px;
    border: 5px solid #023E8A;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: blue;
}

.perfil{
    margin-top: 200px;
    background-color: white;
    border-radius: 16px;
}

.fotoProyecto{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: blue;
    border: 3px solid #023E8A;
}

.listaProyectos{
    height: 300px;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
}

//SCROLLBAR
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #E6E6E6;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #0077B6;
    border-radius: 5px;
}

.botonEliminarDatos{
    color: #FF3614;
    cursor: pointer;
}

.detalles{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.listaOfertas{
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

}

.listaOfertas{
    color: #006CAE;
    font-size: 20px;
    font-weight: bold;
}

.oferta{
    border: 1px #006CAE solid;
}

.formCrearOferta{
    background: #1E75B3;
    border-radius: 10px;
}

.requisitos{
    background: #1E75B3;
    border-radius: 10px;
}