/*
    General Styles
*/

.div-derecha{
  border-left: none;
}

@media screen and (min-width: 768px) {
  .div-derecha {
    border-left: 2px solid gray;
  }
}

#title{
    font-size: 70px;
    color: #023E8A;
    margin-top: -30px;
}

.form-label{
    font-size: 20px;
}

#form{
    color: #006CAE;
    font-weight: bold;
}

.nav-footer-color {
    background-color: #023E8A;
}

.link{
    font-size: 13px;
}


//NAVBAR
.navbarLink{
    cursor: pointer;
    text-decoration: none;
}

#oferta{
    background: #00B4D8;
}

#subtitulo{
    font-size: 25px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#titulo{
    color: #4D0095;
}

.botonPostular{
    background: #4D0095;
    color: white;
}

#empresa{
    color: #023E8A;
}

.borde{
    background: #C6E3FF;
}

.headerHome{
    font-size: 70px;
}

.divredondo {
   padding: 35px;
   border-radius:25px;
   background: white;
   color: rgb(5, 38, 109);
   }

   .integrantes {
   padding: 20px;
   border-radius:10px;
   background: white;
   color: rgb(5, 38, 109);
   justify-content: space-between;
   }

   .btn{
       padding: 0%;
   }

   .fondo{       
        background-image: url("../img/geometria-3d_3840x2160_xtrafondos.com.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        backdrop-filter: blur(3px);
   }

.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

#exampleTextarea1{
    height: 150px;
}