/* 
    General Styles
*/

.div-derecha{
  border-left: none;
}

@media screen and (min-width: 768px) {
  .div-derecha {
    border-left: 2px solid gray;
  }
}

#title{
    font-size: 70px;
    color: #023E8A;
    margin-top: -30px;
}

.form-label{
    font-size: 20px;
}

#form{
    color: #006CAE;
    font-weight: bold;
}

.nav-footer-color {
    background-color: #023E8A;
}

.link{
    font-size: 13px;
}


//NAVBAR
.navbarLink{
    cursor: pointer;
    text-decoration: none;
}

#oferta{
    background: #00B4D8;
}

#subtitulo{
    font-size: 25px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#titulo{
    color: #4D0095;
}

.botonPostular{
    background: #4D0095;
    color: white;
}

#empresa{
    color: #023E8A;
}

.borde{
    background: #C6E3FF;
}